# ========================
# Node.js
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# Environment Variables
# ========================
.env
.env.*

# ========================
# Build Output
# ========================
build/
dist/
out/
app/build
.gradle/
gradle/
/!gradle/wrapper/gradle-wrapper.jar

# ========================
# Kotlin / JVM Artifacts
# ========================
*.class
*.jar
*.war
*.tar
*.zip
local.properties

# Kotlin build cache
**/kotlin/compileKotlin/
**/kotlin/compileTestKotlin/

# Test results & reports
**/test-results/
**/reports/

# ========================
# IDE Configs
# ========================
.idea/
.vscode/
*.iml
*.ipr
*.iws

# ========================
# OS / Editor junk
# ========================
.DS_Store
Thumbs.db
*.swp
*.tmp
*~
logs/
*.log
